* {
    font-family: Roboto, sans-serif;
}

.rectangle {
    border: 2px solid black;
    width: 100%;
}

.container {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    ;
}

.box {
    border: 2 px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
}